<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
  </head>
  <body>
    <div >

      <h1>Terms and Conditions!</h1>
      <p style = "font-family:georgia,garamond,serif;font-size:18px;font-style:italic;">
        We hereby formulate the Terms and Conditions of Online Banking Services (the “Terms”) in order to provide you with better Online Banking Services, prevent risks inherent in the Online Banking, and specify the rights and obligations of the parties in the Online Banking. Please read the Terms carefully before you use any of our Online Banking Services. If you have any questions, please feel free to contact us, and you can browse our official website www.sp.com for the nearest branch and the most up-to-date contact information.




      </p>


    </div>

  </body>
</html>
